body {
  font-size: 16px;
  font-family: "Roboto", "Arial", "sans-serif";
  width: 1200px;

}

h1,
h3,
h4,
h5 {
  font-size: 36px;

}

.active,
.titlelow {
  font-size: 14px;
}

h6,
.coastpay,
.titl {
  font-size: 18px;
  text-transform: uppercase;

}

h2 {
  font-size: 40px;
}


.web-text {
  font-size: 15px;
}

.discover-3,
.sort,
.butn {
  font-size: 12px;
  text-transform: uppercase;

}

.main-navigation {
  float: left;
width: 940px;


}
